//DurandalJS
script(type='text/javascript', src='../lib/require/require.js', data-main='/App/main')

if (req.host='localhost')
    //Livereload script rendered 
    script(type='text/javascript', src='http://localhost:35729/livereload.js')	
