//DurandalJS
script(type='text/javascript', src='../lib/requirejs/require.js', data-main='/app/main')

if (req.host='localhost')
    //Livereload script rendered 
    script(type='text/javascript', src='http://localhost:35729/livereload.js')	
