<section>
	<form class="form-horizontal" data-bind="submit: create">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" data-bind="value: newArticleTitle" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Content</label>
			<div class="controls">
				<textarea data-bind="value: newArticleContent" id="content" cols="30" rows="10" placeholder="Content"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>