extends layouts/default

block content
  div#applicationHost
    div.splash
        div.message
            Durandal Starter Project
        i.icon-spinner.icon-2x.icon-spin.active
  script(type="text/javascript").
    window.user = !{user};


